<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ASP.NET Zero NuGet Source" value="https://nuget.aspnetzero.com/f6cbffa1069d4ba498e4181c9aa13295/v3/index.json" />
  </packageSources>
</configuration>