.project-detail-page {
    min-height: calc(100vh - 170px);
}

.project-detail-page #scheduler_here {
    min-height: calc(100vh - 420px);
}

.project-detail-page .table-responsive {
    max-height: 460px;
    overflow: auto;
}

.project-detail-page .progress {
    height: 8px;
}
